# alignment file
*.psl
*.sam
*.bam
*.bai

*.gtf
*.gff
*.fasta
*.fastq

# eclipse project file
.*project

*.pyc


*.stats

util/build/

work/

.~*

util/_seq_align_0.cpp

*.o
*.a
*.so

test/learn/cython/learn.cpp
test/learn/seqan/learn

test/learn/seqan/alignment_local

